body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    padding-left: 10px;
    color: white;
}

section {
    color: white; 
}

form {
    padding-left: 10px;
    color: white;
}

#description-input {
    width: 300px;
}

main {
    width: 95%;
    height: 100px;
    border: 1px solid grey;
}

/* emoji-story-form */

#saved-section {
    margin-top: 3px;
    width: 95%;
    height: fit-content;
    border: 1px solid grey;
}

#history-title {
    padding-left: 10px;
}


